xmlSchema/cafe.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    version="0.0.1"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:sawsdl="http://www.w3.org/ns/sawsdl">

    <xs:element name="cafe">
	<xs:complexType>
	    <xs:sequence>
		<xs:element name="the" minOccurs="1" maxOccurs="1">
		    <xs:complexType>
			<xs:sequence>
			    <xs:element name="physical" minOccurs="1" maxOccurs="1">
				<xs:annotation>
				    <xs:documentation xml:lang="en">
					The physical element captures important information
					on the referenced search object that is classified
					using the other elements of the schema.
				    </xs:documentation>
				</xs:annotation>
				<xs:complexType>
				    <xs:sequence>
					<xs:element name="object" minOccurs="1" maxOccurs="1">
					    <xs:complexType>
						<xs:sequence>

						    <xs:element name="has" minOccurs="1" maxOccurs="1">
							<xs:complexType>
							    <xs:sequence>
								<xs:element name="the" minOccurs="1" maxOccurs="1">
								    <xs:complexType>
									<xs:sequence>
									    <xs:element name="id" type="xs:integer" minOccurs="1" maxOccurs="1"/>
									    <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1">
										<xs:annotation>
										    <xs:documentation xml:lang="en">
											The full filename of the object with extension
										    </xs:documentation>
										</xs:annotation>
									    </xs:element>
									    <xs:element name="downloadUrl" type="xs:string" minOccurs="0" maxOccurs="1">
									    </xs:element>
									    <xs:element name="dataType" minOccurs="1" maxOccurs="1">
										<xs:annotation>
										    <xs:documentation xml:lang="en">
											The type of object
											referenced with this
											annotation. This can be
											tabular, image, audio, video
											or any other you specify.
										    </xs:documentation>
										</xs:annotation>
										<xs:complexType>
										    <xs:sequence>
											<xs:element name="tabular" type="xs:boolean" minOccurs="1" maxOccurs="1">
											    <xs:annotation xml:lang="en">
												<xs:documentation>
												    Any tabular data file tpye (e.g. csv, excel)
												</xs:documentation>
											    </xs:annotation>
											</xs:element>
											<xs:element name="image" type="xs:boolean" minOccurs="1" maxOccurs="1">
											    <xs:annotation xml:lang="en">
												<xs:documentation>
												    Any image file tpye (e.g. jpeg)
												</xs:documentation>
											    </xs:annotation>
											</xs:element>
											<xs:element name="audio" type="xs:boolean" minOccurs="1" maxOccurs="1">
											    <xs:annotation xml:lang="en">
												<xs:documentation>
												    Any audio file tpye (e.g. mp3)
												</xs:documentation>
											    </xs:annotation>
											</xs:element>
											<xs:element name="video" type="xs:boolean" minOccurs="1" maxOccurs="1">
											    <xs:annotation xml:lang="en">
												<xs:documentation>
												    Any video file tpye (e.g. mp4, avi)
												</xs:documentation>
											    </xs:annotation>
											</xs:element>
											<xs:element name="other" type="xs:string" minOccurs="1" maxOccurs="1"/>
										    </xs:sequence>
										</xs:complexType>
									    </xs:element>
									</xs:sequence>
								    </xs:complexType>
								</xs:element>
							    </xs:sequence>
							</xs:complexType>
						    </xs:element>

						    <xs:element name="is" minOccurs="1" maxOccurs="1">
							<xs:complexType>
							    <xs:sequence>
								<xs:element name="located" minOccurs="1" maxOccurs="1">
								    <xs:complexType>
									<xs:sequence>
									    <xs:element name="at" minOccurs="1" maxOccurs="1">
										<xs:complexType>
										    <xs:sequence>
											<xs:element name="dataCenter" minOccurs="1" maxOccurs="1">
											    <xs:annotation>
												<xs:documentation xml:lang="en">
												    In case of an electronic
												    data type you can set this
												    to the data center the data
												    is hosted at.
												</xs:documentation>
											    </xs:annotation>

											    <xs:complexType>
												<xs:sequence>
												    <xs:element name="sgn" type="xs:boolean" minOccurs="1" maxOccurs="1">
													<xs:annotation xml:lang="en">
													    <xs:documentation>
														Data Center Senckenberg (SGN)
													    </xs:documentation>
													</xs:annotation>
												    </xs:element>
												    <xs:element name="bgbm" type="xs:boolean" minOccurs="1" maxOccurs="1">
													<xs:annotation xml:lang="en">
													    <xs:documentation>
														Botanic Garden and Botanical Museum Berlin-Dahlem
													    </xs:documentation>
													</xs:annotation>
												    </xs:element>
												    <xs:element name="pangaea" type="xs:boolean" minOccurs="1" maxOccurs="1">
													<xs:annotation xml:lang="en">
													    <xs:documentation>
														PANGAEA: Data Publisher for Earth and Environmental Science
													    </xs:documentation>
													</xs:annotation>
												    </xs:element>
												    <xs:element name="other" type="xs:string" minOccurs="1" maxOccurs="1">
													<xs:annotation xml:lang="en">
													    <xs:documentation>
														Any other data center													    </xs:documentation>
													</xs:annotation>
												    </xs:element>
												</xs:sequence>
											    </xs:complexType>
											</xs:element>
										    </xs:sequence>
										</xs:complexType>
									    </xs:element>
									</xs:sequence>
								    </xs:complexType>
								</xs:element>
							    </xs:sequence>
							</xs:complexType>
						    </xs:element>
						</xs:sequence>
					    </xs:complexType>
					</xs:element>
				    </xs:sequence>
				</xs:complexType>
			    </xs:element>

			    <xs:element name="time" minOccurs="0" maxOccurs="1">
				<xs:annotation>
				    <xs:documentation xml:lang="en">
					The time facet covers all aspects of time
				    </xs:documentation>
				</xs:annotation>

				<xs:complexType>
				    <xs:sequence>
					<xs:element name="frame" minOccurs="1" maxOccurs="1">
					    <xs:complexType>
						<xs:sequence>
						    <xs:element name="ranges" minOccurs="1" maxOccurs="1">
							<xs:complexType>
							    <xs:sequence>
								<xs:element name="from" minOccurs="1" maxOccurs="1">
								    <xs:complexType>
									<xs:sequence>
									    <xs:element name="localDate" type="xs:date" minOccurs="1" maxOccurs="1"/>
									    <xs:element name="localTime" type="xs:time" minOccurs="1" maxOccurs="1"/>
									    <xs:element name="inOlsonTimeZone" type="xs:string" minOccurs="1" maxOccurs="1"/>
									</xs:sequence>
								    </xs:complexType>
								</xs:element>
								<xs:element name="to" minOccurs="1" maxOccurs="1">
								    <xs:complexType>
									<xs:sequence>
									    <xs:element name="localDate" type="xs:date" minOccurs="1" maxOccurs="1"/>
									    <xs:element name="localTime" type="xs:time" minOccurs="1" maxOccurs="1"/>
									    <xs:element name="inOlsonTimeZone" type="xs:string" minOccurs="1" maxOccurs="1"/>
									</xs:sequence>
								    </xs:complexType>
								</xs:element>
							    </xs:sequence>
							</xs:complexType>
						    </xs:element>

						    <xs:element name="is" minOccurs="1" maxOccurs="1">
							<xs:complexType>
							    <xs:sequence>
								<xs:element name="characterized" minOccurs="1" maxOccurs="1">
								    <xs:complexType>
									<xs:sequence>
									    <xs:element name="by" minOccurs="1" maxOccurs="1">
										<xs:complexType>
										    <xs:sequence>
											<xs:element name="the" minOccurs="1" maxOccurs="1">
											    <xs:complexType>
												<xs:sequence>
												    <xs:element name="geologicalTimePeriod" type="GeologicalTimePeriod" minOccurs="1" maxOccurs="unbounded"/>
												</xs:sequence>
											    </xs:complexType>
											</xs:element>
										    </xs:sequence>
										</xs:complexType>
									    </xs:element>
									</xs:sequence>
								    </xs:complexType>
								</xs:element>
							    </xs:sequence>
							</xs:complexType>
						    </xs:element>
						</xs:sequence>
					    </xs:complexType>
					</xs:element>

					<xs:element name="setup" minOccurs="1" maxOccurs="1">
					    <xs:complexType>
						<xs:sequence>
						    <xs:element name="adheres" minOccurs="1" maxOccurs="1">
							<xs:complexType>
							    <xs:sequence>
								<xs:element name="to" minOccurs="1" maxOccurs="1">
								    <xs:complexType>
									<xs:sequence>
									    <xs:element name="temporalExtent" type="TimeCategory" minOccurs="1" maxOccurs="1"/>
									    <xs:element name="temporalResolution" type="TimeCategory" minOccurs="1" maxOccurs="1"/>
									</xs:sequence>
								    </xs:complexType>
								</xs:element>
							    </xs:sequence>
							</xs:complexType>
						    </xs:element>
						</xs:sequence>
					    </xs:complexType>
					</xs:element>
				    </xs:sequence>
				</xs:complexType>

				<!-- <xs:complexType> -->
				    <!-- <xs:sequence> -->
					<!-- <xs:element name="temporalCoverage" minOccurs="0" maxOccurs="1"> -->
					    <!-- <xs:annotation> -->
						<!-- <xs:documentation xml:lang="en"> -->
						    <!-- The temporalCoverage module captures -->
						    <!-- the temporal aspects of the search -->
						    <!-- object. Dates and times are provided in -->
						    <!-- iso 8601 format. -->
						    <!-- </xs:documentation> -->
						<!-- </xs:annotation> -->

					    <!-- <xs:complexType> -->
						<!-- <xs:sequence> -->
						    <!-- <xs:element name="datePointRange" minOccurs="0" maxOccurs="1"> -->
							<!-- <xs:annotation> -->
							    <!-- <xs:documentation xml:lang="en"> -->
								<!-- The datePointRange allows -->
								<!-- to specify multiple points -->
								<!-- in time via dates conform to -->
								<!-- the iso 8601 standard. -->
								<!-- </xs:documentation> -->
							    <!-- </xs:annotation> -->
							<!-- <xs:complexType> -->
							    <!-- <xs:sequence> -->
								<!-- <xs:element name="datePointItem" minOccurs="1" maxOccurs="unbounded"> -->
								    <!-- <xs:annotation> -->
									<!-- <xs:documentation xml:lang="en"> -->
									    <!-- The datePointItem represents -->
									    <!-- one date item conform to -->
									    <!-- the iso 8601 standard. -->
									    <!-- </xs:documentation> -->
									<!-- </xs:annotation> -->
								    <!-- <xs:complexType> -->
									<!-- <xs:sequence> -->
									    <!-- <xs:element name="datePoint" type="xs:date" minOccurs="1" maxOccurs="1"> -->
										<!-- <xs:annotation> -->
										    <!-- <xs:documentation xml:lang="en"> -->
											<!-- A single date in form YYYY-MM-DD or -->
											<!-- with an offset from UTC with +XX:XX. -->
											<!-- Conform to iso 8601. -->
											<!-- </xs:documentation> -->
										    <!-- </xs:annotation> -->
										<!-- </xs:element> -->
									    <!-- </xs:sequence> -->
									<!-- </xs:complexType> -->
								    <!-- </xs:element> -->
								<!-- </xs:sequence> -->
							    <!-- </xs:complexType> -->
							<!-- </xs:element> -->

						    <!-- <xs:element name="dateTimeRange" minOccurs="0" maxOccurs="1"> -->
							<!-- <xs:annotation> -->
							    <!-- <xs:documentation xml:lang="en"> -->
								<!-- The dateTimeRange -->
								<!-- allows to specify one -->
								<!-- or multiple ranges in -->
								<!-- time via seperate date -->
								<!-- and time fields conform -->
								<!-- to the iso 8601 -->
								<!-- standard. -->
								<!-- </xs:documentation> -->
							    <!-- </xs:annotation> -->
							<!-- <xs:complexType> -->
							    <!-- <xs:sequence> -->
								<!-- <xs:element name="dateTimeItem" minOccurs="1" maxOccurs="unbounded"> -->
								    <!-- <xs:complexType> -->
									<!-- <xs:sequence> -->
									    <!-- <xs:element name="dateStart" type="xs:date" minOccurs="1" maxOccurs="1"> -->
										<!-- <xs:annotation> -->
										    <!-- <xs:documentation xml:lang="en"> -->
											<!-- A single date in form YYYY-MM-DD or -->
											<!-- with an offset from UTC with +XX:XX. -->
											<!-- Conform to iso 8601. The starting -->
											<!-- point of the study or observation. -->
											<!-- </xs:documentation> -->
										    <!-- </xs:annotation> -->
										<!-- </xs:element> -->
									    <!-- <xs:element name="timeStart" type="xs:time" minOccurs="0" maxOccurs="1"> -->
										<!-- <xs:annotation> -->
										    <!-- <xs:documentation xml:lang="en"> -->
											<!-- A single time in form HH:MM:SS or -->
											<!-- with an offset from UTC with +XX:XX. -->
											<!-- Conform to iso 8601. The start time -->
											<!-- point of the study or observation. -->
											<!-- </xs:documentation> -->
										    <!-- </xs:annotation> -->
										<!-- </xs:element> -->
									    <!-- <xs:element name="dateEnd" type="xs:date" minOccurs="1" maxOccurs="1"> -->
										<!-- <xs:annotation> -->
										    <!-- <xs:documentation xml:lang="en"> -->
											<!-- A single date in form YYYY-MM-DD or -->
											<!-- with an offset from UTC with +XX:XX. -->
											<!-- Conform to iso 8601. The ending -->
											<!-- point of the study or observation. -->
											<!-- </xs:documentation> -->
										    <!-- </xs:annotation> -->
										<!-- </xs:element> -->
									    <!-- <xs:element name="timeEnd" type="xs:time" minOccurs="0" maxOccurs="1"> -->
										<!-- <xs:annotation> -->
										    <!-- <xs:documentation xml:lang="en"> -->
											<!-- A single time in form HH:MM:SS or -->
											<!-- with an offset from UTC with +XX:XX. -->
											<!-- Conform to iso 8601. The end time -->
											<!-- point of the study or observation. -->
											<!-- </xs:documentation> -->
										    <!-- </xs:annotation> -->
										<!-- </xs:element> -->
									    <!-- </xs:sequence> -->
									<!-- </xs:complexType> -->
								    <!-- </xs:element> -->
								<!-- </xs:sequence> -->
							    <!-- </xs:complexType> -->
							<!-- </xs:element> -->

						    <!-- <xs:element name="temporalNameRange" minOccurs="0" maxOccurs="1"> -->
							<!-- <xs:annotation> -->
							    <!-- <xs:documentation xml:lang="en"> -->
								<!-- The temporalNameRange allows to specify multiple -->
								<!-- temporal name items where each contains a name of -->
								<!-- a range in time. -->
								<!-- </xs:documentation> -->
							    <!-- </xs:annotation> -->
							<!-- <xs:complexType> -->
							    <!-- <xs:sequence> -->
								<!-- <xs:element name="temporalNameItem" minOccurs="1" maxOccurs="unbounded"> -->
								    <!-- <xs:annotation> -->
									<!-- <xs:documentation xml:lang="en"> -->
									    <!-- The temporalNameItem captures one temporal name each. -->
									    <!-- </xs:documentation> -->
									<!-- </xs:annotation> -->
								    <!-- <xs:complexType> -->
									<!-- <xs:sequence> -->
									    <!-- <xs:element name="geologicalTimePeriod" type="GeologicalTimePeriod" minOccurs="1" maxOccurs="1"> -->
										<!-- <xs:annotation> -->
										    <!-- <xs:documentation xml:lang="en"> -->
											<!-- The geologicalTimePeriod captures names from the -->
											<!-- International chronostratigraphic chart (e.g. Hadean, -->
											<!-- Archean, Proterozoic, Phanerozoic). -->
											<!-- </xs:documentation> -->
										    <!-- </xs:annotation> -->
										<!-- </xs:element> -->
									    <!-- </xs:sequence> -->
									<!-- </xs:complexType> -->
								    <!-- </xs:element> -->
								<!-- </xs:sequence> -->
							    <!-- </xs:complexType> -->
							<!-- </xs:element> -->

						    <!-- <xs:element name="temporalRaster" minOccurs="0" maxOccurs="1"> -->
							<!-- <xs:annotation> -->
							    <!-- <xs:documentation xml:lang="en"> -->
								<!-- The temporalRaster allows to span a categorial grid -->
								<!-- in time with the extent being the outer frame and the -->
								<!-- resolution representing the subdivision. -->
								<!-- </xs:documentation> -->
							    <!-- </xs:annotation> -->
							<!-- <xs:complexType> -->
							    <!-- <xs:sequence> -->
								<!-- <xs:element name="temporalExtent" type="TimeCategory" minOccurs="1" maxOccurs="1"> -->
								    <!-- <xs:annotation> -->
									<!-- <xs:documentation xml:lang="en"> -->
									    <!-- The temporalExtent defines the extent in time of the study or observation. -->
									    <!-- It is provided in form of a category (second, minute, hour ...). -->
									    <!-- </xs:documentation> -->
									<!-- </xs:annotation> -->
								    <!-- </xs:element> -->
								<!-- <xs:element name="temporalResolution" type="TimeCategory" minOccurs="1" maxOccurs="1"> -->
								    <!-- <xs:annotation> -->
									<!-- <xs:documentation xml:lang="en"> -->
									    <!-- The temporalResolution defines the extent in time of the study or observation. -->
									    <!-- It is provided in form of a category (second, minute, hour ...). -->
									    <!-- </xs:documentation> -->
									<!-- </xs:annotation> -->
								    <!-- </xs:element> -->
								<!-- </xs:sequence> -->
							    <!-- </xs:complexType> -->
							<!-- </xs:element> -->

						    <!-- </xs:sequence> -->
						<!-- </xs:complexType> -->
					    <!-- </xs:element> -->

					<!-- </xs:sequence> -->
				    <!-- </xs:complexType> -->
			    </xs:element>

			    <xs:element name="space" minOccurs="0" maxOccurs="1">
				<xs:annotation>
				    <xs:documentation xml:lang="en">
					The space facet covers all localization aspects.
					The information ranges from location names over the
					specification of the country or continent down to
					the extent and resolution of the data.
				    </xs:documentation>
				</xs:annotation>

				<xs:complexType>
				    <xs:sequence>
					<xs:element name="is" minOccurs="1" maxOccurs="1">
					    <xs:complexType>
						<xs:sequence>
						    <xs:element name="covered" minOccurs="1" maxOccurs="1">
							<xs:annotation>
							    <xs:documentation xml:lang="en">
								Space is covred by bounding box, eleveation or and coordinates
							    </xs:documentation>
							</xs:annotation>

							<xs:complexType>
							    <xs:sequence>
								<xs:element name="by" minOccurs="1" maxOccurs="1">
								    <xs:complexType>
									<xs:sequence>
									    <xs:element name="boundingBox" minOccurs="0" maxOccurs="1">
										<xs:annotation>
										    <xs:documentation xml:lang="en">
											The bounding box is a three dimensional virtual object in space
											that is made up by the four coordinates (N,E,S,W) in form of decimal
											degree as well as the maximum and minimum altitude (reference sealevel).
										    </xs:documentation>
										</xs:annotation>
										<xs:complexType>
										    <xs:sequence>
											<xs:element name="with" minOccurs="1" maxOccurs="1">
											    <xs:complexType>
												<xs:sequence>
												    <xs:element name="northBoundingCoordinate" type="NorthSouthBoundingCoordinate" minOccurs="1" maxOccurs="1">
													<xs:annotation>
													    <xs:documentation xml:lang="en">
														The north most geographic coordinate that signifies the boundary of the data. It
														has to be given in decimal degree between -90 and +90 degree.
													    </xs:documentation>
													</xs:annotation>
												    </xs:element>

												    <xs:element name="southBoundingCoordinate" type="NorthSouthBoundingCoordinate" minOccurs="1" maxOccurs="1">
													<xs:annotation>
													    <xs:documentation xml:lang="en">
														The soutch most geographic coordinate that signifies the boundary of the data. It
														has to be given in decimal degree between -90 and +90 degree.
													    </xs:documentation>
													</xs:annotation>
												    </xs:element>

												    <xs:element name="eastBoundingCoordinate" type="EastWestBoundingCoordinate" minOccurs="1" maxOccurs="1">
													<xs:annotation>
													    <xs:documentation xml:lang="en">
														The east most geographic coordinate that signifies the boundary of the data. It
														has to be given in decimal degree between -180 and +180 degree.
													    </xs:documentation>
													</xs:annotation>
												    </xs:element>

												    <xs:element name="westBoundingCoordinate" type="EastWestBoundingCoordinate" minOccurs="1" maxOccurs="1">
													<xs:annotation>
													    <xs:documentation xml:lang="en">
														The west most geographic coordinate that signifies the boundary of the data. It
														has to be given in decimal degree between -180 and +180 degree.
													    </xs:documentation>
													</xs:annotation>
												    </xs:element>
												    <xs:element name="inFormat" type="xs:string" minOccurs="1" maxOccurs="1">
													<xs:annotation>
													    <xs:documentation xml:lang="en">
														The format of the bounding box coordinates is decimal degrees
													    </xs:documentation>
													</xs:annotation>
												    </xs:element>
												</xs:sequence>
											    </xs:complexType>
											</xs:element>
										    </xs:sequence>
										</xs:complexType>
									    </xs:element>

									    <xs:element name="boundingElevation" minOccurs="0" maxOccurs="1">
										<xs:complexType>
										    <xs:sequence>
											<xs:element name="with" minOccurs="1" maxOccurs="1">
											    <xs:complexType>
												<xs:sequence>
												    <xs:element name="maximumElevation" type="xs:decimal" minOccurs="1" maxOccurs="1">
													<xs:annotation>
													    <xs:documentation xml:lang="en">
														The maximum elevation the data has been taken from.
													    </xs:documentation>
													</xs:annotation>
												    </xs:element>
												    <xs:element name="minimumElevation" type="xs:decimal" minOccurs="1" maxOccurs="1">
													<xs:annotation>
													    <xs:documentation xml:lang="en">
														The minimum elevation the data has been taken from.
													    </xs:documentation>
													</xs:annotation>
												    </xs:element>
												    <xs:element name="elevationUnit" type="LengthUnit" minOccurs="1" maxOccurs="1">
													<xs:annotation>
													    <xs:documentation xml:lang="en">
														The unit of the maximum elevation (e.g. Meter, Centimeter)
													    </xs:documentation>
													</xs:annotation>
												    </xs:element>
												    <xs:element name="elevationDatum" type="ElevationDatum" minOccurs="1" maxOccurs="1">
													<xs:annotation>
													    <xs:documentation xml:lang="en">
														The reference datum of the elevation (e.g. Mean Sealevel)
													    </xs:documentation>
													</xs:annotation>
												    </xs:element>
												</xs:sequence>
											    </xs:complexType>
											</xs:element>
										    </xs:sequence>
										</xs:complexType>
									    </xs:element>
									    <xs:element name="utmCoordinate" minOccurs="1" maxOccurs="1">
										<xs:complexType>
										    <xs:sequence>
											<xs:element name="with" minOccurs="1" maxOccurs="unbounded">
											    <xs:complexType>
											        <xs:sequence>
												    <xs:element name="zone" type="xs:integer" minOccurs="1" maxOccurs="1">
													<xs:annotation>
													    <xs:documentation xml:lang="en">
														The numerical zone corresponding to the central meridian
													    </xs:documentation>
													</xs:annotation>
												    </xs:element>

												    <xs:element name="subZone" type="xs:integer" minOccurs="1" maxOccurs="1">
													<xs:annotation>
													    <xs:documentation xml:lang="en">
														The subzone letter corresponding to one of the 20 north-south divisions of the
														UTM grid system
													    </xs:documentation>
													</xs:annotation>
												    </xs:element>

												    <xs:element name="northSouth" type="NorthSouth" minOccurs="1" maxOccurs="1">
													<xs:annotation>
													    <xs:documentation xml:lang="en">
														The hemisphere. This can be N (North) or S (South)
													    </xs:documentation>
													</xs:annotation>
												    </xs:element>

												    <xs:element name="easting" type="xs:decimal" minOccurs="1" maxOccurs="1">
													<xs:annotation>
													    <xs:documentation xml:lang="en">
														The distance east of the origin of the UTM zone
													    </xs:documentation>
													</xs:annotation>
												    </xs:element>

												    <xs:element name="eastingUnit" type="LengthUnit" minOccurs="1" maxOccurs="1">
													<xs:annotation>
													    <xs:documentation xml:lang="en">
														The unit of the distance of the easting (Meter, Kilometer)
													    </xs:documentation>
													</xs:annotation>
												    </xs:element>

												    <xs:element name="northing" type="xs:decimal" minOccurs="1" maxOccurs="1">
													<xs:annotation>
													    <xs:documentation xml:lang="en">
														The distance north of the origin of the UTM zone
													    </xs:documentation>
													</xs:annotation>
												    </xs:element>

												    <xs:element name="northingUnit" type="LengthUnit" minOccurs="1" maxOccurs="1">
													<xs:annotation>
													    <xs:documentation xml:lang="en">
														The unit of the distance of the northing (Meter, Kilometer)
													    </xs:documentation>
													</xs:annotation>
												    </xs:element>

												    <xs:element name="geodeticDatum" type="GeodeticDatum" minOccurs="1" maxOccurs="1">
													<xs:annotation>
													    <xs:documentation xml:lang="en">
														The datum (e.g. wgs84)
													    </xs:documentation>
													</xs:annotation>
												    </xs:element>
											        </xs:sequence>
											    </xs:complexType>
											</xs:element>
										    </xs:sequence>
										</xs:complexType>
									    </xs:element>
									</xs:sequence>
								    </xs:complexType>
								</xs:element>
							    </xs:sequence>
							</xs:complexType>
						    </xs:element>

						    <xs:element name="characterized" minOccurs="1" maxOccurs="1">
							<xs:complexType>
							    <xs:sequence>
								<xs:element name="by" minOccurs="1" maxOccurs="1">
								    <xs:complexType>
									<xs:sequence>
									    <xs:element name="location" minOccurs="1" maxOccurs="1">
										<xs:complexType>
										    <xs:sequence>
											<xs:element name="with" minOccurs="1" maxOccurs="unbounded">
											    <xs:complexType>
												<xs:sequence>
												    <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1">
													<xs:annotation>
													    <xs:documentation xml:lang="en">
														The name of the location (e.g. Leipzig, Cospudener See, Mount Everest)
													    </xs:documentation>
													</xs:annotation>
												    </xs:element>

												    <xs:element name="ofType" type="LocationType" minOccurs="1" maxOccurs="1">
													<xs:annotation>
													    <xs:documentation xml:lang="en">
														The type of the location. This could be e.g. City, Lake, Study Site etc.
													    </xs:documentation>
													</xs:annotation>
												    </xs:element>

												    <xs:element name="inCountry" type="CountryName" minOccurs="1" maxOccurs="1">
													<xs:annotation>
													    <xs:documentation xml:lang="en">
														Name of the country of the given location name.
													    </xs:documentation>
													</xs:annotation>
												    </xs:element>

												    <xs:element name="onContinent" type="ContinentName" minOccurs="1" maxOccurs="1">
													<xs:annotation>
													    <xs:documentation xml:lang="en">
														Name of the continent the location given under spatialName is located on.
													    </xs:documentation>
													</xs:annotation>
												    </xs:element>

												</xs:sequence>
											    </xs:complexType>
											</xs:element>
										    </xs:sequence>
										</xs:complexType>
									    </xs:element>
									</xs:sequence>
								    </xs:complexType>
								</xs:element>
							    </xs:sequence>
							</xs:complexType>
						    </xs:element>
						</xs:sequence>
					    </xs:complexType>
					</xs:element>

					<xs:element name="setup" minOccurs="1" maxOccurs="1">
					    <xs:complexType>
						<xs:sequence>
						    <xs:element name="adheres" minOccurs="1" maxOccurs="1">
							<xs:complexType>
							    <xs:sequence>
								<xs:element name="to" minOccurs="1" maxOccurs="1">
								    <xs:complexType>
									<xs:sequence>
									    <xs:element name="spatialExtent" type="SpatialSizeClass" minOccurs="1" maxOccurs="1"/>
									    <xs:element name="spatialResolution" type="SpatialSizeClass" minOccurs="1" maxOccurs="1"/>
									</xs:sequence>
								    </xs:complexType>
								</xs:element>
							    </xs:sequence>
							</xs:complexType>
						    </xs:element>
						</xs:sequence>
					    </xs:complexType>
					</xs:element>
				    </xs:sequence>
				</xs:complexType>
			    </xs:element>




				    <!-- <xs:element name="spatialRaster" minOccurs="0" maxOccurs="1"> -->
					<!-- <xs:annotation> -->
					    <!-- <xs:documentation xml:lang="en"> -->
						<!-- The spatial raster allows to span a -->
						<!-- categorial grid in space with the -->
						<!-- extent being the frame and time -->
						<!-- resolution the subdivision. -->
						<!-- </xs:documentation> -->
					    <!-- </xs:annotation> -->
					<!-- <xs:complexType> -->
					    <!-- <xs:sequence> -->

						<!-- <xs:element name="spatialExtent" type="SpatialSizeClass" minOccurs="1" maxOccurs="1"> -->
						    <!-- <xs:annotation> -->
							<!-- <xs:documentation xml:lang="en"> -->
							    <!-- Defines the extent of the -->
							    <!-- data in the space. This is -->
							    <!-- done in of categories that -->
							    <!-- are defined by size (Point, -->
							    <!-- Plot, Region, Continent, -->
							    <!-- Global) -->
							    <!-- </xs:documentation> -->
							<!-- </xs:annotation> -->
						    <!-- </xs:element> -->

						<!-- <xs:element name="spatialResolution" type="SpatialSizeClass" minOccurs="1" maxOccurs="1"> -->
						    <!-- <xs:annotation> -->
							<!-- <xs:documentation xml:lang="en"> -->
							    <!-- Defines the resolution of -->
							    <!-- the data in the space. This -->
							    <!-- is done in of categories -->
							    <!-- that are defined by size -->
							    <!-- (Point, Plot, Region, -->
							    <!-- Continent, Global) -->
							    <!-- </xs:documentation> -->
							<!-- </xs:annotation> -->
						    <!-- </xs:element> -->

						<!-- </xs:sequence> -->
					    <!-- </xs:complexType> -->
					<!-- </xs:element> -->

				    <!-- </xs:sequence> -->
				<!-- </xs:complexType> -->
			    <!-- </xs:element> -->

			    <!-- <xs:element name="spatialNamespace" minOccurs="0" maxOccurs="1"> -->
				<!-- <xs:annotation> -->
				    <!-- <xs:documentation xml:lang="en"> -->
					<!-- The spatial namespace captures named -->
					<!-- places and the type of the references -->
					<!-- e.g. Leipzig/City. -->
					<!-- </xs:documentation> -->
				    <!-- </xs:annotation> -->
				<!-- <xs:complexType> -->
				    <!-- <xs:sequence> -->


					<!-- </xs:sequence> -->
				    <!-- </xs:complexType> -->
				<!-- </xs:element> -->

			    <!-- </xs:sequence> -->
			<!-- </xs:complexType> -->
		    <!-- </xs:element> -->

		<xs:element name="method" minOccurs="1" maxOccurs="1">
		    <xs:annotation>
			<xs:documentation xml:lang="en">
			    The method facet covers all aspects about the
			    methodological approach and the factors that have
			    been modified or observed as covariates.
			</xs:documentation>
		    </xs:annotation>
		    <xs:complexType>
			<xs:sequence>

			    <xs:element name="methodologicalCoverage" minOccurs="1" maxOccurs="1">
				<xs:annotation>
				    <xs:documentation xml:lang="en">
					The methodological coverage captures the methodological approach as
					well as the method type.
				    </xs:documentation>
				</xs:annotation>
				<xs:complexType>
				    <xs:sequence>

					<xs:element name="experimentalApproach" minOccurs="1" maxOccurs="1">
					    <xs:annotation>
						<xs:documentation xml:lang="en">
						    This captures the general approach in a two setp fashion. First you
						    pick from a gradient of types that spans from simulations to observational
						    experiments and then additionally pick a locality or dimensionality of the
						    setup to further narrow down the approach.
						</xs:documentation>
					    </xs:annotation>

					    <xs:complexType>
						<xs:sequence>

						    <xs:element name="approachType" minOccurs="1" maxOccurs="1">
							<xs:complexType>
							    <xs:sequence>
								<xs:choice>
								    <xs:element name="virtual" type="xs:boolean" minOccurs="1" maxOccurs="1">
									<xs:annotation>
									    <xs:documentation xml:lang="en">
										Virtual experiment with computer and simulation.
									    </xs:documentation>
									</xs:annotation>
								    </xs:element>
								    <xs:element name="manipulative" type="xs:boolean" minOccurs="1" maxOccurs="1">
									<xs:annotation>
									    <xs:documentation xml:lang="en">
										Experimental setup with factors mostly controlled
									    </xs:documentation>
									</xs:annotation>
								    </xs:element>
								    <xs:element name="observational" type="xs:boolean" minOccurs="1" maxOccurs="1">
									<xs:annotation>
									    <xs:documentation xml:lang="en">
										Plot selection creates factor gradients.
									    </xs:documentation>
									</xs:annotation>
								    </xs:element>
								</xs:choice>
							    </xs:sequence>
							</xs:complexType>
						    </xs:element>

						    <xs:element name="approachLocalization" minOccurs="1" maxOccurs="1">
							<xs:complexType>
							    <xs:sequence>
								<xs:choice>
								    <xs:element name="laboratory" type="xs:boolean" minOccurs="1" maxOccurs="1">
									<xs:annotation>
									    <xs:documentation xml:lang="en">
										Experiments in the laboratory or similar locality.
										Microcosms are artificial, simplified ecosystems
										that are used to simulate and predict the behaviour
										of natural ecosystems under controlled conditions. Open
										or closed microcosms provide an experimental area for
										ecologists to study natural ecological processes
										( Wikipedia, https://goo.gl/fAVKj9 ).
									    </xs:documentation>
									</xs:annotation>
								    </xs:element>
								    <xs:element name="mesocosm" type="xs:boolean" minOccurs="1" maxOccurs="1">
									<xs:annotation>
									    <xs:documentation xml:lang="en">
										A mesocosm [...] is any outdoor experimental system
										that examines the natural environment under controlled
										conditions. In this way mesocosm studies provide a link
										between field surveys and highly controlled laboratory
										experiments ( Wikipedia, https://goo.gl/KkuouC ). This
										includes greenhouses, ecotrons or other kinds of field
										laboratory.
									    </xs:documentation>
									</xs:annotation>
								    </xs:element>
								    <xs:element name="field" type="xs:boolean" minOccurs="1" maxOccurs="1">
									<xs:annotation>
									    <xs:documentation xml:lang="en">
										A field experiment applies scientific methodology to
										experimentally examine an intervention in the real
										world [...] rather than in the laboratory ( Wikipedia,
										https://goo.gl/Btvl2s )
									    </xs:documentation>
									</xs:annotation>
								    </xs:element>
								</xs:choice>
							    </xs:sequence>
							</xs:complexType>
						    </xs:element>
						</xs:sequence>
					    </xs:complexType>
					</xs:element>

					<xs:element name="controlFactorRange" minOccurs="0" maxOccurs="1">
					    <xs:annotation>
						<xs:documentation xml:lang="en">
						    This element covers the range of control factors that are
						    involved. A control factor is every setup related variable
						    that has been manipulated or selected. This ranges for example
						    from the selection of gradients for succession or biodiviersity
						    to the selection of time (how long is something exposed to ...)
						    and space for the setup.
						</xs:documentation>
					    </xs:annotation>
					    <xs:complexType>
						<xs:sequence>

						    <xs:element name="controlFactorItem" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
							    <xs:documentation xml:lang="en">
								This element represents one control factor of the setup.
							    </xs:documentation>
							</xs:annotation>

							<xs:complexType>
							    <xs:sequence>
								<xs:element name="controlFactorName" type="ControlFactorName" minOccurs = "1" maxOccurs = "1">
								    <xs:annotation>
									<xs:documentation xml:lang="en">
									    The name of the control factor or the category of control factors manipulated in
									    the setup.
									</xs:documentation>
								    </xs:annotation>
								</xs:element>

								<xs:element name="controlFactorType" type="ControlFactorType" minOccurs = "1" maxOccurs = "unbounded">
								    <xs:annotation>
									<xs:documentation xml:lang="en">
									    The type of the control factor. This can be one of a predefined list or own types
									    in case something essential is missing.
									</xs:documentation>
								    </xs:annotation>
								</xs:element>

							    </xs:sequence>
							</xs:complexType>
						    </xs:element>
						</xs:sequence>
					    </xs:complexType>
					</xs:element>

				    </xs:sequence>
				</xs:complexType>
			    </xs:element>

			</xs:sequence>
		    </xs:complexType>
		</xs:element>

		<xs:element name="sphere" minOccurs="1" maxOccurs="1">
		    <xs:annotation>
			<xs:documentation xml:lang="en">
			    The sphere module deals with aspects of localization
			    and thus complements the space module. It allows to
			    more fine granular adjust the location within
			    the bounding box that has been given.
			</xs:documentation>
		    </xs:annotation>
		    <xs:complexType>
			<xs:sequence>

			    <xs:element name="sphericalCoverage" minOccurs="1" maxOccurs="1">
				<xs:annotation>
				    <xs:documentation xml:lang="en">
					The spherical coverage allows to specify the range of spheres that
					is involved.
				    </xs:documentation>
				</xs:annotation>
				<xs:complexType>
				    <xs:sequence>

					<xs:element name="sphereRange" minOccurs="1" maxOccurs="1">
					    <xs:annotation>
						<xs:documentation xml:lang="en">
						    The sphere range captures a range of sphere items with name and sub spheres.
						</xs:documentation>
					    </xs:annotation>
					    <xs:complexType>
						<xs:sequence>

						    <xs:element name="sphereItem" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
							    <xs:documentation xml:lang="en">
								The sphere item captures a sphere item with name and sub spheres.
							    </xs:documentation>
							</xs:annotation>
							<xs:complexType>
							    <xs:sequence>
								<xs:choice>

								    <xs:element name="atmosphere" minOccurs="0" maxOccurs="1">
									<xs:complexType>
									    <xs:sequence>
										<xs:element name="layer" minOccurs="0" maxOccurs="unbounded">
										    <xs:complexType>
											<xs:sequence>
											    <xs:element name="troposphere" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
											    <xs:element name="stratoshhere" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
											    <xs:element name="thermosphere" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
											    <xs:element name="exosphere" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
											</xs:sequence>
										    </xs:complexType>
										</xs:element>
									    </xs:sequence>
									</xs:complexType>
								    </xs:element>

								    <xs:element name="hydrosphere" minOccurs="0" maxOccurs="1">
									<xs:complexType>
									    <xs:sequence>
										<xs:element name="river" minOccurs="0" maxOccurs="unbounded">
										    <xs:complexType>
											<xs:sequence>
											    <xs:element name="zone" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
												    <xs:sequence>
													<xs:element name="crenon" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
													<xs:element name="rhitron" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
													<xs:element name="potamon" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
													<xs:element name="floodplain" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
													<xs:element name="bank" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
													<xs:element name="water" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
													<xs:element name="bed" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
												    </xs:sequence>
												</xs:complexType>
											    </xs:element>
											</xs:sequence>
										    </xs:complexType>
										</xs:element>

										<xs:element name="lake" minOccurs="0" maxOccurs="unbounded">
										    <xs:complexType>
											<xs:sequence>
											    <xs:element name="zone" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
												    <xs:sequence>
													<xs:element name="litoral" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
													<xs:element name="benthic" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
													<xs:element name="profundal" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
													<xs:element name="epilimnion" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
													<xs:element name="metalimnion" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
													<xs:element name="hypolimnion" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
													<xs:element name="pelagic" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
												    </xs:sequence>
												</xs:complexType>
											    </xs:element>
											</xs:sequence>
										    </xs:complexType>
										</xs:element>

										<xs:element name="sea" minOccurs="0" maxOccurs="unbounded">
										    <xs:complexType>
											<xs:sequence>
											    <xs:element name="zone" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
												    <xs:sequence>
													<xs:element name="benthic" minOccurs="0" maxOccurs="unbounded">
													    <xs:complexType>
														<xs:sequence>
														    <xs:element name="litoral" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
														    <xs:element name="neritic" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
														    <xs:element name="bathyal" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
														    <xs:element name="abyssal" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
														    <xs:element name="hadal" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
														</xs:sequence>
													    </xs:complexType>
													</xs:element>
													<xs:element name="pelagic" minOccurs="0" maxOccurs="unbounded">
													    <xs:complexType>
														<xs:sequence>
														    <xs:element name="epipelagic" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
														    <xs:element name="mesopelagic" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
														    <xs:element name="bathypelagic" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
														    <xs:element name="abyssopelagic" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
														    <xs:element name="hadopelagic" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
														</xs:sequence>
													    </xs:complexType>
													</xs:element>
												    </xs:sequence>
												</xs:complexType>
											    </xs:element>
											</xs:sequence>
										    </xs:complexType>
										</xs:element>
									    </xs:sequence>
									</xs:complexType>
								    </xs:element>

								    <xs:element name="pedosphere" minOccurs="0" maxOccurs="1">
									<xs:complexType>
									    <xs:sequence>
										<xs:element name="soil" minOccurs="1" maxOccurs="1">
										    <xs:complexType>
											<xs:sequence>

											    <xs:element name="horizon" minOccurs="0" maxOccurs="1">
												<xs:complexType>
												    <xs:sequence>
													<xs:element name="oHorizon" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
													<xs:element name="aHorizon" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
													<xs:element name="bHorizon" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
													<xs:element name="cHorizon" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
													<xs:element name="rHorizon" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
												    </xs:sequence>
												</xs:complexType>
											    </xs:element>

											    <xs:element name="pH" minOccurs="0" maxOccurs="1">
												<xs:complexType>
												    <xs:sequence>
													<xs:element name="qualitative" minOccurs="0" maxOccurs="1">
													    <xs:complexType>
														<xs:sequence>
														    <xs:element name="acidic" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
														    <xs:element name="neutral" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
														    <xs:element name="basic" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
														</xs:sequence>
													    </xs:complexType>
													</xs:element>

													<xs:element name="quantitative" minOccurs="0" maxOccurs="1">
													    <xs:complexType>
														<xs:sequence>
														    <xs:element name="minimumValue" type="phValue" minOccurs="1" maxOccurs="1"/>
														    <xs:element name="maximumValue" type="phValue" minOccurs="1" maxOccurs="1"/>
														</xs:sequence>
													    </xs:complexType>
													</xs:element>
												    </xs:sequence>
												</xs:complexType>
											    </xs:element>

											    <xs:element name="depth" minOccurs="0" maxOccurs="1">
												<xs:complexType>
												    <xs:sequence>
													<xs:element name="quantitative" minOccurs="0" maxOccurs="unbounded">
													    <xs:complexType>
														<xs:sequence>
														    <xs:element name="minimumValue" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
														    <xs:element name="maximumValue" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
														    <xs:element name="unit" type="LengthUnit" minOccurs="1" maxOccurs="1"/>
														</xs:sequence>
													    </xs:complexType>
													</xs:element>
												    </xs:sequence>
												</xs:complexType>
											    </xs:element>

											    <xs:element name="texture" minOccurs="0" maxOccurs="1">
												<xs:complexType>
												    <xs:sequence>
													<xs:element name="qualitative" minOccurs="0" maxOccurs="unbounded">
													    <xs:complexType>
														<xs:sequence>
														    <xs:element name="sandy" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
														    <xs:element name="silty" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
														    <xs:element name="loamy" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
														</xs:sequence>
													    </xs:complexType>
													</xs:element>
													<xs:element name="quantitative" minOccurs="0" maxOccurs="unbounded">
													    <xs:complexType>
														<xs:sequence>
														    <xs:element name="sandPercentage" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
														    <xs:element name="loamPercentage" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
														    <xs:element name="siltPercentage" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
														</xs:sequence>
													    </xs:complexType>
													</xs:element>
												    </xs:sequence>
												</xs:complexType>
											    </xs:element>

											</xs:sequence>
										    </xs:complexType>
										</xs:element>
									    </xs:sequence>
									</xs:complexType>
								    </xs:element>

								    <xs:element name="biosphere" minOccurs="0" maxOccurs="1">
									<xs:complexType>
									    <xs:sequence>
										<xs:element name="layer" minOccurs="0" maxOccurs="unbounded">
										    <xs:complexType>
											<xs:sequence>
											    <xs:element name="qualitative" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
												    <xs:sequence>
													<xs:element name="treeLayer" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
													<xs:element name="shrubLayer" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
													<xs:element name="herbLayer" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
													<xs:element name="mossLayer" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
													<xs:element name="groundLayer" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
												    </xs:sequence>
												</xs:complexType>
											    </xs:element>
											</xs:sequence>
										    </xs:complexType>
										</xs:element>

										<xs:element name="height" minOccurs="0" maxOccurs="1">
										    <xs:complexType>
											<xs:sequence>
											    <xs:element name="quantitative" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
												    <xs:sequence>
													<xs:element name="minimumValue" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
													<xs:element name="maximumValue" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
													<xs:element name="unit" type="LengthUnit" minOccurs="1" maxOccurs="1"/>
												    </xs:sequence>
												</xs:complexType>
											    </xs:element>
											</xs:sequence>
										    </xs:complexType>
										</xs:element>

										<xs:element name="organisation" minOccurs="0" maxOccurs="1">
										    <xs:complexType>
											<xs:sequence>
											    <xs:element name="biome" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
											    <xs:element name="ecosystem" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
											    <xs:element name="population" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
											    <xs:element name="organism" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
											    <xs:element name="sytemOfOrgans" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
											    <xs:element name="organ" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
											    <xs:element name="tissue" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
											    <xs:element name="cell" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
											    <xs:element name="cellOrganelle" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
											    <xs:element name="molecule" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
											    <xs:element name="atom" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
											</xs:sequence>
										    </xs:complexType>
										</xs:element>
									    </xs:sequence>
									</xs:complexType>
								    </xs:element>

								    <xs:element name="lithosphere" type="xs:boolean" minOccurs="0" maxOccurs="1"/>

								</xs:choice>
							    </xs:sequence>
							</xs:complexType>
						    </xs:element>

						</xs:sequence>
					    </xs:complexType>
					</xs:element>

				    </xs:sequence>
				</xs:complexType>
			    </xs:element>

			    <xs:element name="zoneCoverage" minOccurs="0" maxOccurs="1">
				<xs:complexType>
				    <xs:sequence>

					<xs:element name="zoneRange" minOccurs="1" maxOccurs="1">
					    <xs:annotation>
						<xs:documentation xml:lang="en">
						    The zone range captures a range of spheres, zones and layers under
						    the main spheres selected in the annotation.
						</xs:documentation>
					    </xs:annotation>
					    <xs:complexType>
						<xs:sequence>

						    <xs:element name="zoneItem" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
							    <xs:documentation xml:lang="en">
								The zone item captures a sphere, zone or layer item by name.
							    </xs:documentation>
							</xs:annotation>
							<xs:complexType>
							    <xs:sequence>

								<xs:element name="zoneName" type="ZoneName" minOccurs="1" maxOccurs="1">
								    <xs:annotation>
									<xs:documentation xml:lang="en">
									    The zone name captures a sphere, zone or layer item by name.
									</xs:documentation>
								    </xs:annotation>
								</xs:element>

							    </xs:sequence>
							</xs:complexType>
						    </xs:element>

						</xs:sequence>
					    </xs:complexType>
					</xs:element>

				    </xs:sequence>
				</xs:complexType>
			    </xs:element>

			</xs:sequence>
		    </xs:complexType>
		</xs:element>

		<xs:element name="biome" minOccurs="1" maxOccurs="1">
		    <xs:annotation>
			<xs:documentation xml:lang="en">
			    The biome facet covers the detailed description of
			    the biome the data originates from. The discription
			    ranges from the name of the biome over its type and
			    the latitudinal zonation as well as it covers the
			    hydrological aspects describing the biome.
			</xs:documentation>
		    </xs:annotation>
		    <xs:complexType>
			<xs:sequence>

			    <xs:element name="biomicCoverage" minOccurs="1" maxOccurs="1">
				<xs:annotation>
				    <xs:documentation xml:lang="en">
					The biomic coverage captures biomes by
					name, tpye, the latitudianal zonataion
					and water availablility.
				    </xs:documentation>
				</xs:annotation>
				<xs:complexType>
				    <xs:sequence>

					<xs:element name="biomeRange" minOccurs="1" maxOccurs="1">
					    <xs:annotation>
						<xs:documentation xml:lang="en">
						    The biome range allows to add multiple biomes.
						</xs:documentation>
					    </xs:annotation>
					    <xs:complexType>
						<xs:sequence>

						    <xs:element name="biomeItem" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
							    <xs:documentation xml:lang="en">
								The biome item captures the
								name, the tpye, the latitudianal zonataion
								and water availablility of a specific biome.
							    </xs:documentation>
							</xs:annotation>
							<xs:complexType>
							    <xs:sequence>

								<xs:element name="biomeType" type="BiomeType"  minOccurs="1" maxOccurs="1">
								    <xs:annotation>
									<xs:documentation xml:lang="en">
									    The biome type captures the general type of the biome e.g. terrestrial,
									    aquatic, wetland, dryland, ecotone, fresh water, brakish water, saline water
									</xs:documentation>
								    </xs:annotation>
								</xs:element>

								<xs:element name="biomeZonation" type="BiomeZoneation" minOccurs="1" maxOccurs="1">
								    <xs:annotation>
									<xs:documentation xml:lang="en">
									    The biome zone caputres the latitudinal zone e.g. polar, boreal, temperate
									    subtropical, tropical
									</xs:documentation>
								    </xs:annotation>
								</xs:element>

								<xs:element name="biomeHemisphere" type="BiomeHemisphere" minOccurs="1" maxOccurs="1">
								    <xs:annotation>
									<xs:documentation xml:lang="en">
									    This captures the hemisphere the biome is in. This can take the
									    values Northern or Southern.
									</xs:documentation>
								    </xs:annotation>
								</xs:element>

								<xs:element name="biomeHydrology" type="BiomeHydrology" minOccurs="1" maxOccurs="1">
								    <xs:annotation>
									<xs:documentation xml:lang="en">
									    The water availablility is captured here. This can take the values
									    Arid, Semi Arid, Semi Humid, Humid.
									</xs:documentation>
								    </xs:annotation>
								</xs:element>

								<xs:element name="isEcotone" type="xs:boolean"  minOccurs="1" maxOccurs="1">
								    <xs:annotation>
									<xs:documentation xml:lang="en">
									    Allows to specify weather the biome was an ecotone or not.
									    This can take the values true and false.
									</xs:documentation>
								    </xs:annotation>
								</xs:element>

							    </xs:sequence>
							</xs:complexType>
						    </xs:element>
						</xs:sequence>
					    </xs:complexType>
					</xs:element>

					<xs:element name="physiognomyRange" minOccurs="0" maxOccurs="1">
					    <xs:annotation>
						<xs:documentation xml:lang="en">
						    The physiognomy range caputres the range of available physiognomies
						</xs:documentation>
					    </xs:annotation>
					    <xs:complexType>
						<xs:sequence>

						    <xs:element name="physiognomyItem" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
							    <xs:documentation xml:lang="en">
								The physiognomy item caputres a specific type of physiognomy by name and type
							    </xs:documentation>
							</xs:annotation>
							<xs:complexType>
							    <xs:sequence>

								<xs:element name="physiognomyClass" type="PhysiognomyClass" minOccurs="1" maxOccurs="1">
								    <xs:annotation>
									<xs:documentation xml:lang="en">
									    The physiognomy class captures the broad classification of the physiognomy (forest,
									    open woodland, shrubland ...)
									</xs:documentation>
								    </xs:annotation>
								</xs:element>

								<xs:element name="physiognomyType" type="PhysiognomyType" minOccurs="1" maxOccurs="1">
								    <xs:annotation>
									<xs:documentation xml:lang="en">
									    The physiognomy type details the classification of the physiognomy (e.g.
									    class: forest, type mixed).
									</xs:documentation>
								    </xs:annotation>
								</xs:element>

							    </xs:sequence>
							</xs:complexType>
						    </xs:element>

						</xs:sequence>
					    </xs:complexType>
					</xs:element>

				    </xs:sequence>
				</xs:complexType>
			    </xs:element>

			    <xs:element name="landUseRange" minOccurs="0" maxOccurs="1">
				<xs:annotation>
				    <xs:documentation xml:lang="en">
					The land use range allows to specify the range of land uses
				    </xs:documentation>
				</xs:annotation>
				<xs:complexType>
				    <xs:sequence>

					<xs:element name="landUseItem" minOccurs="1" maxOccurs="unbounded">
					    <xs:annotation>
						<xs:documentation xml:lang="en">
						    The land use item allows to specify a specific the land with a
						    broad classification and to give the purpose the land is used for.
						</xs:documentation>
					    </xs:annotation>
					    <xs:complexType>
						<xs:sequence>

						    <xs:element name="landUseClass" type="LandClass" minOccurs="1" maxOccurs="1">
							<xs:annotation>
							    <xs:documentation xml:lang="en">
								Allows a broad classification of the land in the observation area
								in terms of naturality (natural, semi natural, urban).
							    </xs:documentation>
							</xs:annotation>
						    </xs:element>

						    <xs:element name="landUsePurpose" type="LandUsePurpose" minOccurs="1" maxOccurs="1">
							<xs:annotation>
							    <xs:documentation xml:lang="en">
								Allows to specify the purpose the land in the observation area is used
								for (agriculture, aquaculture, agroforestry, vegetated)
							    </xs:documentation>
							</xs:annotation>
						    </xs:element>

						</xs:sequence>
					    </xs:complexType>
					</xs:element>

				    </xs:sequence>
				</xs:complexType>
			    </xs:element>

			</xs:sequence>
		    </xs:complexType>
		</xs:element>

		<xs:element name="organism" minOccurs="1" maxOccurs="1">
		    <xs:annotation>
			<xs:documentation xml:lang="en">
			    The organism facet covers aspects of organisms
			    description. The description ranges from life forms
			    the size of the organisms and a taxonomical
			    classification.
			</xs:documentation>
		    </xs:annotation>
		    <xs:complexType>
			<xs:sequence>

			    <xs:element name="organismicCoverage" minOccurs="1" maxOccurs="1">
				<xs:annotation>
				    <xs:documentation xml:lang="en">
					The organismic coverage deals with aspects of taxonomically classified
					organisms as well as with the characterization of life forms.
				    </xs:documentation>
				</xs:annotation>
				<xs:complexType>
				    <xs:sequence>

					<xs:element name="organismRange" minOccurs="1" maxOccurs="1">
					    <xs:annotation>
						<xs:documentation xml:lang="en">
						    The organismic range allows to specify multiple taxonomically
						    classified organisms.
						</xs:documentation>
					    </xs:annotation>
					    <xs:complexType>
						<xs:sequence>

						    <xs:element name="organismItem" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
							    <xs:documentation xml:lang="en">
								The organism item allows to capture a specific organisms by taxonomical
								classification.
							    </xs:documentation>
							</xs:annotation>
							<xs:complexType>
							    <xs:sequence>

								<xs:element name="taxonomicClassification" type="TaxonomicClassification" minOccurs="1" maxOccurs="1">
								    <xs:annotation>
									<xs:documentation xml:lang="en">
									    The taxonomic rank name specifies the level of the taxonomic naming given
									    in the taxonomicName field in the organism item. This can be e.g.
									    domain, kingdom, phylum, division, class, order, family, genus, species
									</xs:documentation>
								    </xs:annotation>
								</xs:element>

								<xs:element name="organismName" type="OrganismName" minOccurs="0" maxOccurs="1">
								    <xs:annotation>
									<xs:documentation xml:lang="en">
									    Atomised names of the taxon, with subtypes according to the
									    different Codes of Nomenclature which apply to scientific
									    names.
									</xs:documentation>
								    </xs:annotation>
								</xs:element>

							    </xs:sequence>
							</xs:complexType>
						    </xs:element>

						</xs:sequence>
					    </xs:complexType>
					</xs:element>

				    </xs:sequence>
				</xs:complexType>
			    </xs:element>

			    <xs:element name="lifeFormCoverage" minOccurs="0" maxOccurs="1">
				<xs:complexType>
				    <xs:sequence>

					<xs:element name="lifeFormRange" minOccurs="1" maxOccurs="1">
					    <xs:annotation>
						<xs:documentation xml:lang="en">
						    The life form range allows to specify multiple types of life forms
						</xs:documentation>
					    </xs:annotation>
					    <xs:complexType>
						<xs:sequence>

						    <xs:element name="lifeFormItem" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
							    <xs:documentation xml:lang="en">
								The life form item allows to specify a specific life form
							    </xs:documentation>
							</xs:annotation>
							<xs:complexType>
							    <xs:sequence>

								<xs:element name="lifeFormClass" type="LifeFormClass" minOccurs="1" maxOccurs="1">
								    <xs:annotation>
									<xs:documentation xml:lang="en">
									    A broad general classification of the life form (animal, plant, bacteria, virus)
									</xs:documentation>
								    </xs:annotation>
								</xs:element>

								<xs:element name="lifeFormType" type="LifeFormType" minOccurs="0" maxOccurs="1">
								    <xs:annotation>
									<xs:documentation xml:lang="en">
									    Allows further specification of the life form covering various aspects (hydrophyte,
									    homöotherm ...).
									</xs:documentation>
								    </xs:annotation>
								</xs:element>

							    </xs:sequence>
							</xs:complexType>
						    </xs:element>

						</xs:sequence>
					    </xs:complexType>
					</xs:element>

				    </xs:sequence>
				</xs:complexType>
			    </xs:element>

			</xs:sequence>
		    </xs:complexType>
		</xs:element>

		<xs:element name="chemical" minOccurs="1" maxOccurs="1">
		    <xs:annotation>
			<xs:documentation xml:lang="en">
			    The chemical facet covers all information about
			    chemical elements, compounds or ions measured or
			    involved in the dataset.
			</xs:documentation>
		    </xs:annotation>
		    <xs:complexType>
			<xs:sequence>

			    <xs:element name="chemicalCoverage" minOccurs="1" maxOccurs="1">
				<xs:annotation>
				    <xs:documentation xml:lang="en">
					The chemical coverage module deals with
					aspects of elements and compounds that
					have been involved in the study and
					their classification.
				    </xs:documentation>
				</xs:annotation>
				<xs:complexType>
				    <xs:sequence>

					<xs:element name="elementRange" minOccurs="0" maxOccurs="1">
					    <xs:annotation>
						<xs:documentation xml:lang="en">
						    The chemical element range allows to specify elements
						    that have been involved in the study.
						</xs:documentation>
					    </xs:annotation>
					    <xs:complexType>
						<xs:sequence>

						    <xs:element name="elementItem" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
							    <xs:documentation xml:lang="en">
								The chemical element item allows to specify an element
								that has been involved in the study.
							    </xs:documentation>
							</xs:annotation>
							<xs:complexType>
							    <xs:sequence>

								<xs:element name="elementName" type="ElementName" minOccurs="1" maxOccurs="1">
								    <xs:annotation>
									<xs:documentation xml:lang="en">
									    Specify a chemical element by name.
									</xs:documentation>
								    </xs:annotation>
								</xs:element>

							    </xs:sequence>
							</xs:complexType>
						    </xs:element>

						</xs:sequence>
					    </xs:complexType>
					</xs:element>

					<xs:element name="isotopeRange" minOccurs="0" maxOccurs="1">
					    <xs:complexType>
						<xs:sequence>

						    <xs:element name="isotopeItem" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
							    <xs:sequence>

								<xs:element name="isotopeName" type="IsotopeName" minOccurs="1" maxOccurs="1">
								    <xs:annotation>
									<xs:documentation xml:lang="en">
									    Specify an isotope by name.
									</xs:documentation>
								    </xs:annotation>
								</xs:element>

							    </xs:sequence>
							</xs:complexType>
						    </xs:element>

						</xs:sequence>
					    </xs:complexType>
					</xs:element>

					<xs:element name="compoundRange" minOccurs="0" maxOccurs="1">
					    <xs:annotation>
						<xs:documentation xml:lang="en">
						    The compound range allows to capture a range of chemical compound items
						    by their name and classification.
						</xs:documentation>
					    </xs:annotation>
					    <xs:complexType>
						<xs:sequence>

						    <xs:element name="compoundItem" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
							    <xs:documentation xml:lang="en">
								The compound item allows to caputre a specific chemical compund
								by name and classification.
							    </xs:documentation>
							</xs:annotation>
							<xs:complexType>
							    <xs:sequence>

								<xs:element name="compoundName" type="xs:string" minOccurs="1" maxOccurs="1">
								    <xs:annotation>
									<xs:documentation xml:lang="en">
									    Caputures the compound name.
									</xs:documentation>
								    </xs:annotation>
								</xs:element>

								<xs:element name="compoundClass" type="CompoundClass" minOccurs="1" maxOccurs="1">
								    <xs:annotation>
									<xs:documentation xml:lang="en">
									    Caputres the compound class (organic, inorganic)
									</xs:documentation>
								    </xs:annotation>
								</xs:element>

								<xs:element name="compoundCategoryRange" minOccurs="0" maxOccurs="1">
								    <xs:annotation>
									<xs:documentation xml:lang="en">
									    Allows to capture a range of categories the compound belong to
									</xs:documentation>
								    </xs:annotation>
								    <xs:complexType>
									<xs:sequence>

									    <xs:element name="compoundCategoryItem" minOccurs="1" maxOccurs="unbounded">
										<xs:annotation>
										    <xs:documentation xml:lang="en">
											The compound category item captures one specific compound categorization.
										    </xs:documentation>
										</xs:annotation>
										<xs:complexType>
										    <xs:sequence>

											<xs:element name="compoundCategoryName" type="CompoundCategory" minOccurs="1" maxOccurs="1">
											    <xs:annotation>
												<xs:documentation xml:lang="en">
												    The compound category captures one compound categorization by name (e.g. nucleobase,
												    nucleotide, arene, alkene, alcohol)
												</xs:documentation>
											    </xs:annotation>
											</xs:element>

										    </xs:sequence>
										</xs:complexType>
									    </xs:element>

									</xs:sequence>
								    </xs:complexType>
								</xs:element>

							    </xs:sequence>
							</xs:complexType>
						    </xs:element>

						</xs:sequence>
					    </xs:complexType>
					</xs:element>

				    </xs:sequence>
				</xs:complexType>
			    </xs:element>

			    <xs:element name="chemicalFunctionRange" minOccurs="0" maxOccurs="1">
				<xs:annotation>
				    <xs:documentation xml:lang="en">
					The chemical function range allows to capture a range of chemical functions
				    </xs:documentation>
				</xs:annotation>
				<xs:complexType>
				    <xs:sequence>

					<xs:element name="chemicalFunctionItem" minOccurs="1" maxOccurs="unbounded">
					    <xs:annotation>
						<xs:documentation xml:lang="en">
						    The chemical function item allows to capture one chemical function
						</xs:documentation>
					    </xs:annotation>
					    <xs:complexType>
						<xs:sequence>

						    <xs:element name="chemicalFunctionName" type="chemicalFunctionNameType" minOccurs="1" maxOccurs="1">
							<xs:annotation>
							    <xs:documentation xml:lang="en">
								The chemical function name item allows to capture one chemical function (Antibody, Cofactor,
								Enzyme)
							    </xs:documentation>
							</xs:annotation>
						    </xs:element>

						</xs:sequence>
					    </xs:complexType>
					</xs:element>

				    </xs:sequence>
				</xs:complexType>
			    </xs:element>

			</xs:sequence>
		    </xs:complexType>
		</xs:element>

		<xs:element name="process" minOccurs="1" maxOccurs="1">
		    <xs:annotation>
			<xs:documentation xml:lang="en">
			    The process facet deals with aspects about
			    processes observed in the study. It covers the name
			    of the process and allows a classification of the
			    process with process types.
			</xs:documentation>
		    </xs:annotation>
		    <xs:complexType>
			<xs:sequence>

			    <xs:element name="processCoverage" minOccurs="1" maxOccurs="1">
				<xs:annotation>
				    <xs:documentation xml:lang="en">
					The process coverage deals with
					capturing processes and their
					classification.
				    </xs:documentation>
				</xs:annotation>
				<xs:complexType>
				    <xs:sequence>

					<xs:element name="processItem" minOccurs="1" maxOccurs="unbounded">
					    <xs:annotation>
						<xs:documentation xml:lang="en">
						    The process item captures a
						    specific process by name
						    and its classifiction.
						</xs:documentation>
					    </xs:annotation>
					    <xs:complexType>
						<xs:sequence>

						    <xs:element name="processName" type="ProcessName" minOccurs="1" maxOccurs="1">
							<xs:annotation>
							    <xs:documentation xml:lang="en">
								The process name fields covers the process name.
							    </xs:documentation>
							</xs:annotation>
						    </xs:element>

						    <xs:element name="processClass" type="ProcessClass" minOccurs="1" maxOccurs="1">
							<xs:annotation>
							    <xs:documentation xml:lang="en">
								The process class covers the general character of the process. It
								can be interaction, transformation or transport.
							    </xs:documentation>
							</xs:annotation>
						    </xs:element>

						    <xs:element name="processType" type="ProcessType" minOccurs="0" maxOccurs="1">
							<xs:annotation>
							    <xs:documentation xml:lang="en">
								The process type covers a more detailed classification of the process.
								It goes hand in hand with the process class.
							    </xs:documentation>
							</xs:annotation>
						    </xs:element>

						</xs:sequence>
					    </xs:complexType>
					</xs:element>

				    </xs:sequence>
				</xs:complexType>
			    </xs:element>

			    <xs:element name="interactionRange" minOccurs="0" maxOccurs="1">
				<xs:complexType>
				    <xs:sequence>

					<xs:element name="interactionItem" minOccurs="1" maxOccurs="unbounded">
					    <xs:annotation>
						<xs:documentation xml:lang="en">
						    The interaction item captures an interaction by
						    the two interaction partners and a direction of
						    the interaction. Complex interactions that involve
						    more than one partner have to be specified split
						    into multiple parts.
						</xs:documentation>
					    </xs:annotation>
					    <xs:complexType>
						<xs:sequence>

						    <xs:element name="firstInteractionPartner" type="InteractionPartner" minOccurs="1" maxOccurs="1">
							<xs:annotation xml:lang="en">
							    <xs:documentation>
								The first partner in the interaction.
							    </xs:documentation>
							</xs:annotation>
						    </xs:element>

						    <xs:element name="directionOfInteraction" type="DirectionOfInteraction" minOccurs="1" maxOccurs="1">
							<xs:annotation xml:lang="en">
							    <xs:documentation>
								The direction of the interaction. This can be "Acts On", "Affected By", "Mutally Interact"
							    </xs:documentation>
							</xs:annotation>
						    </xs:element>

						    <xs:element name="secondInteractionPartner" type="InteractionPartner" minOccurs="1" maxOccurs="1">
							<xs:annotation xml:lang="en">
							    <xs:documentation>
								The second partner in the interaction.
							    </xs:documentation>
							</xs:annotation>
						    </xs:element>

						</xs:sequence>
					    </xs:complexType>
					</xs:element>

				    </xs:sequence>
				</xs:complexType>
			    </xs:element>

			</xs:sequence>
		    </xs:complexType>
		</xs:element>

	    </xs:sequence>
	</xs:complexType>
    </xs:element>
	</xs:sequence>
	</xs:complexType>
    </xs:element>

    <!-- simple types -->
    <xs:simpleType name="NonNegativeDecimal">
	<xs:restriction base="xs:decimal">
	    <xs:minExclusive value="0"/>
	</xs:restriction>
    </xs:simpleType>

    <!-- complex types -->

    <xs:complexType name="TaxonomicClassification">
	<!-- cite eml  -->
	<xs:sequence>

	    <xs:element name="taxonRankName" type="xs:string" minOccurs="1">
	    </xs:element>

	    <xs:element name="taxonRankValue" type="xs:string" minOccurs="1">
	    </xs:element>

	    <xs:element name="commonName" type="xs:string" minOccurs="0" maxOccurs="unbounded">
	    </xs:element>

	    <xs:element name="taxonomicClassification" type="TaxonomicClassification" minOccurs="0" maxOccurs="1">
	    </xs:element>

	</xs:sequence>
    </xs:complexType>

</xs:schema>
